@{
    ViewBag.Title = "CadastroProdutos";
}
<div style="width:100%; height:100%">
<body onload="LimpaCampos();">
<form method="post" enctype="multipart/form-data">
    <div class="Topo">
        <div class="titulo" style="font-size: 450%; margin-top: 100px; margin-left: 500px; font-family: Gigi; color: black;">Cadastrar Produtos</div>

    </div>
    <br>
    <br />
    