
/***********************************************************Estoque*********************************************************************************/
h3 {
    background-color: #a4a4a4;
    height: 20px;
    border-bottom: 1px solid #a4a4a4;
}

#tbAccordion {
    border-style: none;
}

#linha {
    border: 1px solid #a4a4a4;
    /*-webkit-border-radius: 2px;
    -moz-border-radius: 2px;*/
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.45);
    box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.45);
}

#accordion {
    width: 60%;
    display: block;
    height: 500px;
    margin-top: -60px;
    margin-left: 450px;
}

#ListaTipos {
    width: 10%;
    display: block;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.45);
    box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.45);
}

.Container {
    margin-top: 100px;
}

td {
    border-style: none;
    border-bottom: 1px solid #a4a4a4;
}

#TabelaRetorno {
    margin-top: 30px;
}

li {
    height: auto;
    border-bottom: 1px solid #a4a4a4;
    color: #000;
}

    li:hover {
        background-color: #DDDDDD;
    }

ul {
    border: 1px solid #a4a4a4;
}

a {
    color: #000;
}

    a:link {
        text-decoration: none;
        color: #000;
    }

#AlterarStatus {
    display: none;
}

/***********************************************************Fim - Estoque*********************************************************************************/
