
/***********************************************************Pedido Manual*********************************************************************************/
.Container {
    margin-top: 100px;
    margin-left: 20px;
}

.lupa {
height:15px;
width:15px;
}
/***********************************************************Fim - Pedido Manual*********************************************************************************/
