<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Persistence.Properties.Settings.QUIMICAFUTUROConnectionString"
            connectionString="Data Source=Gabriel;Initial Catalog=QUIMICAFUTURO;Persist Security Info=True;User ID=gabriel;Password=reload1234"
            providerName="System.Data.SqlClient" />
        <add name="Persistence.Properties.Settings.VGRConnectionString"
            connectionString="Data Source=Gabriel;Initial Catalog=VGR;Persist Security Info=True;User ID=Gabriel;Password=relaod1234"
            providerName="System.Data.SqlClient" />
        <add name="Persistence.Properties.Settings.VGRConnectionString1"
            connectionString="Data Source=VITOR;Initial Catalog=VGR;Persist Security Info=True;User ID=vitor.bueno;Password=c0m3t3r0"
            providerName="System.Data.SqlClient" />
        <add name="Persistence.Properties.Settings.VGRConnectionString2"
            connectionString="Data Source=VITOR;Initial Catalog=VGR;Persist Security Info=True;User ID=Vitor.Bueno;Password=c0m3t3r0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>